@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply flex justify-center items-center p-0 m-0 ;
}

:root::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orange-bg-0 {
  background-color: #fff7f0;
}

.orange-bg-2 {
  background-color: #ffe0ce;
}

.orange-bg-1 {
  background-color: #fcede6;
}

.hover-scale {
  transition: all ease 0.4s;
}

.hover-scale:hover {
  @apply mx-1 my-1 scale-95;
}

.orange-text {
  color: #fd650b;
}

.black-btn {
  @apply hover:bg-gray-800 font-semibold bg-black text-gray-100;
}

/* orange-shadow: #fc650a */